@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: 
                /* url('./assets/background/city/8.png') center center / contain no-repeat,
                url('./assets/background/city/7.png') center center / contain no-repeat,
                url('./assets/background/city/6.png') center center / contain no-repeat,
                url('./assets/background/city/5.png') center center / contain no-repeat,
                url('./assets/background/city/4.png') center center / contain no-repeat,
                url('./assets/background/city/3.png') center center / contain no-repeat,
                url('./assets/background/city/2.png') center center / contain no-repeat, */
                url('./assets/background/city/9.png') center center / contain no-repeat;
                
    background-attachment: fixed;
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    background-size: cover;
    overflow: hidden;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

#countdown-start {
    color: white;
    width: 700px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}


/* #Areadigioco {
  position: absolute;
  top: 22%;
  left: 28%;
  border: solid 1px black;
}
 */
.stats {
  border: solid 1px black;
  width: 300px;
  height: 600px;
}



#play-btn {
     --line-w-inner: 1px /* inner line thickness */;
	--line-w-outer: 2px /* outer line thickness */;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 0 var(--line-w-outer) rgb(255, 255, 255) /* outer border line */, 
      	inset 0 0 0 var(--line-w-inner) violet /* inner border line */;
   background: linear-gradient(
  135deg,
  rgba(21, 22, 21, 0.659) 0%,
  rgba(17, 20, 17, 0.427) 50%,
  rgba(16, 18, 17, 0.3) 100%
);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(2px);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  width: 100%;
  height: 35px;
  color: white;
  font-family: "Orbitron", sans-serif;
  margin-top: 10px;
  cursor: pointer;
}

#play-btn:hover {
  transform: scale(1.06);
}

.cnt{
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap:30px;
  align-items: center;
}