body{
    background-color: #323232;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

#countdown-start {
    color: white;
}
/* #Areadigioco{
    width: 400px;
    height: 800px;
    background-color: aqua;
} */