@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: rgb(62, 60, 60);
    /* background:url('./assets/background/city/9.png') center center / contain no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden; */
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

#countdown-start {
    color: white;
    width: 700px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.cnt {
  display: flex;
  gap: 45px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100vw;
}

.cnt-title h1 {
  font-size: 56px;
}

.cnt-game{
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.cnt-canvas {
  border: 1px solid blue;
  position: relative;
}

#Areadigioco {
  position: absolute;
}

.stats {
  border: solid 1px black;
  color: aliceblue;
}

.cnt-prossimo-tetramino{
  border: 1px solid red;
  line-height: 0;
}

.cnt-prossimo-tetramino p{
  font-size: 28px;
  line-height: normal;
}

.cnt-prossimo-tetramino canvas{
  border: 1px solid rgb(0, 204, 255);
}

.cnt-punteggio {
  border: 1px solid green;
}

.cnt-btn{
  border: 1px solid pink;
}

#play-btn {
  color: white;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}