@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: black;
    /* background:url('./assets/background/city/9.png') center center / contain no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden; */
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

button, input, textarea{
  font-family: "Orbitron", sans-serif;
}

#countdown-start {
    color: white;
    width: 700px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.cnt {
  display: flex;
  gap: 45px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100vw;
}

.videobg{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
}

.cnt-title h1 {
  font-size: 68px;
  letter-spacing: 4px;
  color: white;
}

.cnt-game{
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  position: relative;
  left: 18px;
}

.cnt-canvas {
  position: relative;
  /* border: solid 6px #9E00E0; */
}

.cnt-canvas img{
  z-index: 10;
  position: relative;
  left: -15px;
  top: -15px;
  width: 331px;
}

.overlay-black{
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.82;
  position: absolute;
  top: 0;
  z-index: -1;
}

#Areadigioco {
  position: absolute;
}

.stats {
  color: aliceblue;
  gap: 34px;
  display: flex;
  flex-direction: column;
}

.cnt-prossimo-tetramino{
  line-height: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cnt-prossimo-tetramino p{
  font-size: 28px;
  line-height: 30px;
}

.cnt-prossimo-tetramino canvas{
  border: 1px solid rgb(0, 204, 255);
}

.cnt-punteggio {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.cnt-punteggio div{
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.cnt-btn{
  display: flex;
  gap: 12px;
}

.cnt-btn button{
  cursor: pointer;
  width: 40px;
  aspect-ratio: 2%;
  aspect-ratio: 1 / 1;
}